.ui-state-default .icon-agenda{	
	 background-size: 18px 18px;
}
#wrapper {
    width: 0 auto;
    margin: 0 auto;
    background-image: url("http://localhost:8090/odontologia/resources/images/fondo1.jpg");"
}
	/* Celular de 480x320*/
@media only screen and (min-width: 320px) and (orientation : landscape){

	.ui-btnPanelGrid{
	       margin-left: 130px;	
	       margin-top: 20px;      
	}
	/* label*/
	.ui-field-contain > label {
		margin-left: 5px;
	}
	.ui-field-contain>label  ~ [class*='ui-'] {
		width: 98%;
		margin-left: 8px;
	}
	
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	
	.ui-btnPanelGrid{
		margin-left: 60px;
		margin-top: 20px;
	}
}
  /* ipad de 1024x768*/
@media only screen and (min-width: 768px) and (orientation : landscape){

	.ui-btnPanelGrid{
		margin-left: 340px;
		margin-top: 60px;
	}
	
	.ui-field-contain > label ~ [class*='ui-']{
	    width: 96%;
	    margin-left: 25px;
	}
	.ui-field-contain > label {
		margin-left: 25px;
		margin-top: 75px;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	
	.ui-btnPanelGrid{
	 margin-left: 270px;
	 margin-top: 60px;
	}
	.ui-field-contain > label {
		margin-left: 25px;
		margin-top: 75px;
	}
}

