.ui-state-default .icon-agenda{	
	 background-size: 18px 18px;
}

.ui-panel-m .ui-panel-m-content {
background: inherit!important;
}

.ui-input-text input, .ui-input-search input {
color: black!important;
font-weight: bold!important;
}



#wrapper {
    width: 0 auto;
    margin: 0 auto;
    background-image: url("/odontologia/resources/images/FondoNeutral.jpg");"
}
	/* Celular de 480x320*/
	
@media only screen and (orientation : Portrait){

	.ui-btnPanelGrid {
		width:100%;
		margin-left: 2%;
	}
	.ui-imagen {
		width: 80%;
		max-width: 350px;
		margin-left: 12%;
		margin-top: 0px
	}
	.ui-field-contain>label  ~ [class*='ui-'] {
		width: 85%;
		margin-left: 0%;
	}
	.ui-field-contain>label {
		margin-left: 0%;
	}
}

@media only screen and (orientation: Landscape){

	.ui-btnPanelGrid{
		width: 100%;
		margin-left: 12%;
		margin-top: 5%;
	}
	.ui-imagen {
		width: 100%;
		max-width: 80%;
		margin-left: 12%;
		margin-top: 0%;
	}
	.ui-field-contain>label {
		margin-left: 0%;
	}

	
}
  /* ipad de 1024x768*/
@media only screen and (min-width: 768px) and (orientation : landscape){
	
	.ui-btnPanelGrid{
		margin-left: 390px;
		margin-top: 40px;
	}
	.ui-imagen {
		width: 35%;
		max-width: 380px;
		margin-left: 490px;
		margin-top: 80px
	}
	.ui-field-contain > label ~ [class*='ui-']{
		width: 96%;
		margin-left: 25px;
	}
	   .ui-field-contain > label{
		margin-left: 25px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	
	.ui-btnPanelGrid{
		margin-left: 300px;
		margin-top: 40px;
	}
	.ui-imagen {
		width: 35%;
		max-width: 380px;
		margin-left: 350px;
		margin-top: 80px
	}
	.ui-field-contain > label ~ [class*='ui-']{
		width: 95%;
		margin-left: 25px;
	}
	   .ui-field-contain > label{
		margin-left: 25px;
	}
}

