.ui-state-default .icon-agenda{	
	 background-size: 18px 18px;
}
#wrapper {
    width: 0 auto;
    margin: 0 auto;
    background-image: url("/odontologia/resources/images/FondoNeutral.jpg");"
}
	/* Celular de 480x320*/
@media only screen and (min-width: 320px) and (orientation : landscape){
    .ui-imagen {
    style="width:100%;
    
     max-width:100%;
     margin-left:0px; 
     margin-top:50px"
    }
      .ui-form {
   margin-top:50px;
     margin-bottom:40px;
    }
}

@media only screen  and (orientation : Portrait){
    .ui-imagen {
    
    style="width:100%;
    
    max-width:100%;
     margin-left:0%; 
     margin-top:50px"
    }
      .ui-form {
   margin-top:50px;
     margin-bottom:40px;
    }
}


  /* ipad de 1024x768*/
@media only screen and (min-width: 768px) and (orientation : landscape){
	.ui-imagen {
    style="width:80%; 
    max-width:350px;
     margin-left:480px; 
    }
     .ui-form {
     margin-top:80px;
     margin-bottom:100px;
    }
}

@media only screen and (min-width: 1024px) and (orientation : Portrait){
.ui-imagen {
    style="width:80%; 
    max-width:350px;
     margin-left:290px; 
    }
    .ui-form {
     margin-top:80px;
     margin-bottom:100px;
    }
}
