#header {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../../resources/images/bannerDent.png");
	height: 200px;
	background-size: cover;
}
/* Para que el menubar no esté atrás del layout  */
.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}
#frmDiv{
	display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 140px;
    margin: auto;
    background-color: #FFCC99;
}
/***/