.ui-state-default .icon-agenda{	
	 background-size: 18px 18px;
}
#wrapper {
    width: 0 auto;
    margin: 0 auto;
    background-image: url("/odontologia/resources/images/FondoNeutral.jpg");"
}

	/* Celular de 480x320*/
@media only screen and (orientation : landscape){

	.ui-btnPanelGrid{
		width:96%;	
	    margin-left: 13%;	
	    margin-top: 20px;      
	}
	/* label*/
	.ui-field-contain > label {
		margin-left: 3%;
	}
	.ui-field-contain>label  ~ [class*='ui-'] {
		width: 95%;
		margin-left: 3%;
	}
	
}


@media only screen and (orientation:Portrait){
	
	.ui-btnPanelGrid{
		width:100%;
	    margin-left: 5%;	
	    margin-top: 5%;      
	}
	/* label*/
	.ui-field-contain > label {
		margin-top: 1%;
		margin-left: 4%;
	}
	.ui-field-contain>label  ~ [class*='ui-'] {
		width: 95%;
		margin-left: 3%;
	}
}


  /* ipad de 1024x768*/
@media only screen and (min-width: 768px) and (orientation : landscape){

	.ui-btnPanelGrid{
		margin-left: 340px;
		margin-top: 60px;
	}
	
	.ui-field-contain > label ~ [class*='ui-']{
	    width: 96%;
	    margin-left: 25px;
	}
	.ui-field-contain > label {
		margin-left: 25px;
		margin-top: 75px;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	
	.ui-btnPanelGrid{
	 margin-left: 270px;
	 margin-top: 60px;
	}
	.ui-field-contain > label {
		margin-left: 25px;
		margin-top: 75px;
	}
}

